{% extends 'base.html' %}
{% block content %}
    <div class="table-responsive">
        Title: {{ card.name }}<br>
        Mana Cost: {{ card.mana_cost }}<br>
        Converted Mana Cost: {{ card.cmc }}<br>
        Card Type {{ card.type }}<br>
        Text: {{ card.text }}<br>
        {% if card.price %}
            Price: {{ card.price }}
        {% endif %}
        {% if card.power is not None %}
            Power: {{ card.power }}<br>
            Toughness:{{ card.toughness }}
        {% endif %}
    </div>
{% endblock %}